@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


html,body{
  background-color: white !important;
  font-family: 'Inter', sans-serif !important;
}

.bk-pinboard-data-viz {
  border-radius: 16px !important;
}

.kpi-module__kpi .kpi-module__hero {
  line-height: 30px;
  font-size: 40px;
}

.bk-pinboard-data-viz {
  padding: 14px 24px 24px 24px !important;
}
