@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  background-color: white !important;
  font-family: 'Inter', sans-serif !important;
}

.bk-pinboard-data-viz {
  border-radius: 16px !important;
  padding: 8px 24px 16px 24px !important;
}

.kpi-module__kpi .kpi-module__hero {
  line-height: 30px;
  font-size: 40px;
}

.tile-extraSmall .kpi-module__hero,
.tile-size-xs .kpi-module__hero {
  font-size: 24px !important;
  line-height: 12px !important;
}

.bk-title-description .bk-title-section .bk-title {
  font-weight: 500 !important;
  line-height: 1.2 !important;
}

.loading-indicator {
  border-radius: 16px !important;
}

.circle {
   position: relative !important;
   top: 24px !important;
}

.chartVizNoDataErrorSection h6.typography-module__content-label-subhead.typography-module__grayLight.muted-alert-module__title {
    visibility: hidden;
    position: relative;
}

.chartVizNoDataErrorSection h6.typography-module__content-label-subhead.typography-module__grayLight.muted-alert-module__title:after {
     visibility: visible;
     position: absolute;
     top: 0;
     left: 0;
     content: "No bookings found during this period";
}

.chartVizNoDataErrorSection p.typography-module__body-normal.typography-module__grayLight.muted-alert-module__description {
  display: none;
}
