@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  background-color: white !important;
  font-family: 'Inter', sans-serif !important;
}

.bk-pinboard-data-viz {
  border-radius: 16px !important;
  padding: 8px 24px 16px 24px !important;
}

.kpi-module__kpi .kpi-module__hero {
  line-height: 30px;
  font-size: 40px;
}

.tile-extraSmall .kpi-module__hero,
.tile-size-xs .kpi-module__hero {
  font-size: 24px !important;
  line-height: 12px !important;
}

.bk-title-description .bk-title-section .bk-title {
  font-weight: 500 !important;
  line-height: 1.2 !important;
}
